{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Description</th>
                <th>Journee_complete</th>
                <th>Couleur_fond</th>
                <th>Couleur_bordure</th>
                <th>Couleur_texte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.debut ? evenement.debut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.fin ? evenement.fin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.journeeComplete ? 'Oui' : 'Non' }}</td>
                <td>{{ evenement.couleurFond }}</td>
                <td>{{ evenement.couleurBordure }}</td>
                <td>{{ evenement.couleurTexte }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}">afficher</a>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'evenement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evenement_new') }}">Créer un nouveau</a>
{% endblock %}
