<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}

            {#{{ encore_entry_link_tags('app') }}#}

            <!-- Xwin Template -->
            <link rel="stylesheet" type="text/css" href="{{ asset('font-awesome.min.css'  ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('Xwin-icons.css'        ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('animate.min.css'       ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('owl.carousel.css'      ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('owl.transitions.css'   ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('cubeportfolio.min.css' ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('settings.css'          ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bootsnav.css'          ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('style.css'             ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('loader.css'            ,'xwin-css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap.min.css'     ,'xwin-css') }}">

            <link rel="icon" href="{{ asset('favicon.png', 'xwin-images') }}">

        {% endblock %}

        {% block javascripts %}

            {#{{ encore_entry_script_tags('app') }}#}

            <!-- Xwin Template -->
            <script src="{{ asset('jquery-2.2.3.js'                            ,'xwin-js') }}"></script>
            <script src="{{ asset('bootstrap.min.js'                           ,'xwin-js') }}"></script>
            <script src="{{ asset('bootsnav.js'                                ,'xwin-js') }}"></script>
            <script src="{{ asset('jquery.appear.js'                           ,'xwin-js') }}"></script>
            <script src="{{ asset('jquery-countTo.js'                          ,'xwin-js') }}"></script>
            <script src="{{ asset('jquery.parallax-1.1.3.js'                   ,'xwin-js') }}"></script>
            <script src="{{ asset('owl.carousel.min.js'                        ,'xwin-js') }}"></script>
            <script src="{{ asset('jquery.cubeportfolio.min.js'                ,'xwin-js') }}"></script>
            <script src="{{ asset('jquery.matchHeight-min.js'                  ,'xwin-js') }}"></script>
            <script src="{{ asset('jquery.themepunch.tools.min.js'             ,'xwin-js') }}"></script>
            <script src="{{ asset('jquery.themepunch.revolution.min.js'        ,'xwin-js') }}"></script>
            <script src="{{ asset('revolution.extension.layeranimation.min.js' ,'xwin-js') }}"></script>
            <script src="{{ asset('revolution.extension.navigation.min.js'     ,'xwin-js') }}"></script>
            <script src="{{ asset('revolution.extension.parallax.min.js'       ,'xwin-js') }}"></script>
            <script src="{{ asset('revolution.extension.slideanims.min.js'     ,'xwin-js') }}"></script>
            <script src="{{ asset('revolution.extension.video.min.js'          ,'xwin-js') }}"></script>
            <script src="{{ asset('wow.min.js'                                 ,'xwin-js') }}"></script>
            <script src="{{ asset('functions.js'                               ,'xwin-js') }}"></script>

        {% endblock %}

        <!-- Xwin Template -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>

        <!-- Xwin Loader -->
        {# <div class="loader">
            <div class="spinner centered">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div> #}

        <header>

            <!-- Xwin Nav -->
            <nav class="navbar navbar-default navbar-fixed white no-background bootsnav pushy">
                <div class="container">

                    <div id="menu_bars" class="right">
                        <span class="t1"></span>
                        <span class="t2"></span>
                        <span class="t3"></span>
                    </div>

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/"><img src="{{ asset('logo-main.png', 'images') }}" alt="logo" class="logo logo-display">
                            <img src="{{ asset('logo-main.png'  ,'images') }}" class="logo logo-scrolled" alt="">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOut">

                            <li><a href="/">Accueil</a></li>

                            {% if not app.user %}
                                <li><a href="/formation">Formation</a></li>
                                <li><a href="/article">Article</a></li>
                                <li><a href="/cv/community">CV</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Connexion</a>
                                    <ul class="dropdown-menu">
                                    <li><a href="/connexion">Se connecter</a></li>
                                    <li><a href="/inscription">S'inscrire</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Admin</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/admin/utilisateurs">Gestion utilisateurs</a></li>
                                        <li><a href="#">Gestion autres</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% if app.user %}
                                <li class="dropdown megamenu-fw">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon espace</a>
                                    <ul class="dropdown-menu megamenu-content" role="menu">
                                    <li>
                                        <div class="row">
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Etudiant</h6>
                                            <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="#">Notes</a></li>
                                                <li><a href="#">Abscences</a></li>
                                                <li><a href="#">CV</a></li>
                                            </ul>
                                            </div>
                                        </div>
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Classe</h6>
                                            <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="/article">Article</a></li>
                                                <li><a href="/calendrier">Calendrier</a></li>
                                                <li><a href="/projet">Projets</a></li>
                                            </ul>
                                            </div>
                                        </div>
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Administration</h6>
                                            <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="#">Informations</a></li>
                                                <li><a href="#">Carte étudiant</a></li>
                                                <li><a href="#"></a>Covid 19</li>
                                            </ul>
                                            </div>
                                        </div>
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Autres</h6>
                                            <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="#">Gallerie</a></li>
                                                <li><a href="#">Faq</a></li>
                                                <li><a href="#">404</a></li>
                                            </ul>
                                            </div>
                                        </div>
                                        </div>
                                    </li>
                                    </ul>
                                </li>
                                <li><a href="/deconnexion">Déconnexion</a></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
                
            </nav>

        </header>

        <!-- Xwin Search -->
        <div id="search">
            <button type="button" class="close">×</button>
            <form>
                <input type="search" value="" placeholder="Search here...."  required/>
                <button type="submit" class="btn btn_common yellow">Search</button>
            </form>
        </div>
        
        <!-- Xwin Slider -->
        <section class="page_header padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 page-content">
                        <div class="page_nav">
                            <span>Page actuel : </span> <a href="#">Nom de la page</a> <span><i class="fa fa-angle-double-right"></i>Logo</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        <!--FOOTER-->
        <footer class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 footer_panel bottom25">
                    <h3 class="heading bottom25">à propos de nous<span class="divider-left"></span></h3>
                    <a href="index.html" class="footer_logo bottom25"><img src="{{ asset('logo-main.png', 'images') }}" alt="Xwin"></a>
                    <p>Disposant d’un fort ancrage territorial en France métropolitaine et ultramarine, mais aussi à l’international, le Cnam propose plus de 500 parcours professionnalisants dans les domaines des sciences exactes, techniques et tertiaires. Ils débouchent sur une certification, un titre ou un diplôme et répondent aux besoins des adultes (salariés, demandeurs d’emploi, travailleurs indépendants…) qui souhaitent évoluer professionnellement, trouver ou retrouver un emploi, actualiser leurs connaissances et développer leurs compétences.</p>
                    <ul class="social_icon top25">
                        <li><a href="https://www.facebook.com/LeCnam.formation/" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/LeCnam" class="twitter"><i class="icon-twitter4"></i></a></li>
                        <li><a href="https://www.instagram.com/lecnam/?hl=fr" class="instagram"><i class="icon-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 footer_panel bottom25">
                    <h3 class="heading bottom25">Liens utiles<span class="divider-left"></span></h3>
                    <ul class="links">
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Accueil</a></li>
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Company</a></li>
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Services</a></li>
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Our Team</a></li>
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Company History</a></li>
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Certifications</a></li>
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Blog</a></li>
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Shop</a></li>
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Privacy Policy</a></li>
                        <li><a href="#."><i class="icon-chevron-small-right"></i>Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 footer_panel bottom25">
                    <h3 class="heading bottom25">Plan du site <span class="divider-left"></span></h3>
                    <p class=" address"><i class="icon-map-pin"></i>292 Rue Saint-Martin,75003 Paris France</p>
                    <p class=" address"><i class="icon-phone"></i>0494112233</p>
                    <p class=" address"><i class="icon-envelope"></i><a href="mailto:web@cnam.fr">web@cnam.fr</a></p>
                </div>
            </div>
        </div>
        </footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright &copy; 2017 <a href="#.">Xwin</a>. all rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--FOOTER ends-->

    </body>
</html>
